<body onkeydown='ond(event)'>
	<textarea id='res'></textarea>
	<script>
		ts=[];
		h={};
		h[65]=1;
		h[83]=1;
		h[68]=1;
		h[70]=1;
		function ond(e){
			if(!h[e.keyCode]){
				conv();
				return;
			}
			ts.push(new Date().getTime());
		}
		function conv(){
			var res=document.getElementById('res');
			res.value='';
			for(var i=0;i<ts.length;i++){
				res.value+=Math.round((ts[i]-ts[0])/(1*1000)*44100+2700883)+"\n";
				//res.value+=Math.round((ts[i]-ts[0])/(2*1000)*44100+5474928)+"\n";
				//res.value+=Math.round((ts[i]-ts[0])/(4*1000)*44100+5474928)+"\n";
			}
		}
	</script>
</body>