<body onkeydown='ond(event)'>
	<textarea id='res'></textarea>
	<script>
		ts=[];
		h={};
		h[65]=1;
		h[83]=1;
		h[68]=1;
		h[70]=1;
		function ond(e){
			if(!h[e.keyCode]){
				conv();
				return;
			}
			ts.push(new Date().getTime());
		}
		function conv(){
			var res=document.getElementById('res');
			res.value='T 0\n';
			for(var i=1;i<ts.length;i++){
				res.value+='t '+60000/(ts[i]-ts[i-1])+" s\n";
			}
		}
	</script>
</body>